html, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Quicksand", serif;
}

body{
  background-color: var(--background);
}

:root{
--background: #d0d7d7;
--2background: #88a1be;
--3background: #6c85a1;
--buttons: #436794;
--font: #e9e9e9;
--font2: #273a77;
  }


.header{
  margin: 4rem auto;
  text-align: center;
  font-size: 3rem;
}

.title{
  margin: 4rem auto;
  text-align: center;
  font-size: 5rem;
}

.button{
  padding: 1rem;
  margin: 2rem;
  background-color: var(--buttons);
  color: var(--font);
  border-radius: 5px;
  border: 3px solid var(--3background);
}

.q{
  color: #273a77;
}

.pics{
  width: 60%;
  margin: 2rem;
  height: 60%;
  border: 3px solid var(--font2);
}

.q1{
  margin: 4rem auto;
  text-align: center;
  font-size: 5rem;
  border-radius: 4px;
  background-color: var(--2background);
  border: 3px solid var(--3background);
  padding: 2.5rem;
  width: 40vw;
}

.q2{
  margin: 4rem auto;
  text-align: center;
  font-size: 5rem;
  border-radius: 4px;
  background-color: var(--2background);
  border: 3px solid var(--3background);
  padding: 2.5rem;
  width: 40vw;
}
.q3{
  margin: 4rem auto;
  text-align: center;
  font-size: 5rem;
  border-radius: 4px;
  background-color: var(--2background);
  border: 3px solid var(--3background);
  padding: 2.5rem;
  width: 40vw;
}
.q4{
  margin: 4rem auto;
  text-align: center;
  font-size: 5rem;
  border-radius: 4px;
  background-color: var(--2background);
  border: 3px solid var(--3background);
  padding: 2.5rem;
  width: 40vw;
}

.q5{
  margin: 4rem auto;
  text-align: center;
  font-size: 5rem;
  border-radius: 4px;
  background-color: var(--2background);
  border: 3px solid var(--3background);
  padding: 2.5rem;
  width: 40vw;
}

.submitbtn{
  font-size: 3rem  ;
  background-color: var(--buttons);
  color: var(--font);
  border-radius: 5px;
  border: 3px solid var(--3background);
  text-align: center;
  margin: 4rem auto;
  padding: 0.5rem;
}


.center{
  text-align: center;
}
