html, body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

:root{
    --primarylight: #fffad3;  
    --secondarylight: #c44437;
    --tertiarylight: #eeab14;
    --fontlight: #720605;
  }